.container{
 
      background: url(../../assets/images/getstarted.png) ;
    background-size: cover;
  background-position: center center;
  position: relative;
  
height:"auto";
  width: 100%;
 margin-top: 15%;
 margin-bottom: 15%;
 padding-bottom: 8%;
 padding-top: 8%;
 align-items: center;
 border-radius: 30px;
 
 
  

}
.title{
font-style: normal;
font-weight: bold;
font-size: 48px;

color: #FFFFFF;


}
.sub{
font-style: normal;
font-weight: 500;
font-size: 16px;
margin:20px auto;
color: #FFFFFF;
}
.button{
font-style: normal;
font-weight: 500;
font-size: 16px;
display: inline-block;
padding:12px 70px;
cursor: pointer;
background: #06942A;
box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.12);
border-radius: 50px;
color: #FFFFFF;
cursor: pointer;
}