.container {
  padding: 0px 15% 30% 9%;
}
.header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;

  color: #3f403f;
}

.descBox {
  display: flex;
  margin-top: 23px;
  margin-bottom: 23px;
}
.image {
  width: 40px;
  height: auto;
  margin-right: 25px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #3f403f;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* or 32px */

  color: #3f403f;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .container {
    padding: 0px 0% 30% 0%;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .container {
    padding: 0px 0% 30% 0%;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .container {
    padding: 0px 0% 30% 0%;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .container {
    padding: 0px 15% 30% 9%;
  }
  .title {
    font-size: 24px;
    font-weight: normal;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container {
    padding: 0px 15% 30% 9%;
  }
  .title {
    font-size: 24px;
    font-weight: normal;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .container {
    padding: 0px 15% 30% 9%;
  }
  .title {
    font-size: 24px;
    font-weight: normal;
  }
}
