.container{
padding: 0px 15% 30% 9%;
}
 .header{
font-style: normal;
font-weight: bold;
font-size: 36px;


color: #3F403F;
}
.desc{
  /* padding-left: 40px;   */
}
.descBox{
    display: flex;
    margin-top: 23px;
      margin-bottom: 23px;
}
.image{
  width: 40px;  
  height: auto;
  margin-right: 25px;
}
.title{
    font-style: normal;
font-weight: 500;
font-size: 24px;


color: #3F403F;
}

.message{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 200% !important;
/* or 32px */


color: #3F403F;
}