.footerContainer{
    margin-top: 50px;
    border-top: 1px solid #E5E5E5;
    padding-top: 30px;
    background: #fff;
}
.header{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #3F403F;
}
.subHead{
margin-top: 12px;
}
.text{
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #3F403F;
margin-top: 12px;
cursor: pointer;

}
.text:hover{
    text-decoration: underline;
}

.info{
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #3F403F;
margin-top: 12px;
}
.iconContainer{
display: flex;
margin-top: 12px;
}
.iconBg{
 background: rgba(6, 148, 42, 0.17); 
padding:5px 11px 8px 11px;
border-radius: 50%;
margin-right: 4px;
color: #06942A;
}
.copyright{
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #9B9B9B;
text-align: center;
width: 100%;
margin-top: 100px;
margin-bottom: 20px;
}


