.container{
    margin-top: 2%;
}
.header{
   font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;
margin-bottom: 4%;

color: #3F403F;
text-align: center;
}
.row{
    text-align: center;
    margin-bottom: 4%;
}
.col{
    text-align: center;
    background: #FFFFFF;
border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
padding-top: 80px;
padding-bottom: 80px;
width: 310px;

margin:6px auto 20px auto;
cursor: pointer;
}
.title{
font-size: 21px;
line-height: 150%;
color: #3F403F;
margin: 30px 0px 10px 0;
}
.subtitle{
    font-size: 14px;
line-height: 150%;



color: #9B9B9B;

}
.img{
    width: 28px;
    height: auto;
}
.imgbox{
  background: rgba(6, 148, 42, 0.1);
    display: inline;
    padding:25px 20px;
    border-radius: 50px;
  
}
